/* The side navigation menu */

.sidenav {
    position: fixed;
    left: 300px;
    border: black;
    display: inline-block;
    height: 670px;
    width: 0px;
    z-index: 1;
    /* Stay on top */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.sidenav .glyphicon-remove {
    position: absolute;
    right: 25px;
    font-size: 20px;
    margin-right: 1px;
    margin-top: 8px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left 0.5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
